@import url("/index.css");
@import url("/components/sidebar.css");

body {
    background-image: none;
}

.component-container {
    margin-left: 5rem;
}

.component-heading {
    margin-bottom: 1rem;
}

.component-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* common css for grid1 and grid2 start here*/
.grid-container {
    height: auto;
    width: 95%;
    padding: 1rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 2px solid var(--border-color);
}

.grid {
    width: 100%;
    grid-gap: 1rem;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--border-color);
    display: grid;
}

.grid-color {
    background-color: var(--primary-color);
    color: var(--button-secondary-color);
    border-radius: 5px;
}

/* common css for grid1 and grid2 end  here*/
.grid-area1 {
    height: 30vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.grid-area2 {
    height: 40vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
}

/* css for grid1 item */
.grid-item1 {
    grid-column: 1/3;
}

.grid-item3 {
    grid-column: 4/6;
}

.grid-item5 {
    grid-column: 2/5;
}

/* css for grid2 item  */
.item1 {
    grid-column: 1/4;
}

.item2 {
    grid-column: 4/6;
}

.item3 {
    grid-column: 6/8;
}

.item4 {
    grid-column: 1/3;
}

.item5 {
    grid-column: 3/5;
}

.item6 {
    grid-column: 5/8;

}

.item7 {
    grid-column: 1/2;
}

.item8 {
    grid-column: 2/4;
}

.item9 {
    grid-column: 4/8;
}