:root {
    --header-color: #0E2A47;
    --primary-color: #1735B3;
    --secondary-color: #132E65;
    --button-color: turquoise;
    --success-color:#84cc16;
    --success-text-color:#65a30d;
    --warning-color: #F8B807;
    --danger-color: #ef4444;
    --danger-text-color:#dc2626;
    --info-color:#06b6d4;
    --info-text-color:#0891b2;
    --alert-primary-color:#29438b;
    --alert-secondary-color:#696b79;
    
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/background-image.svg");
    font-family: sans-serif;
}

.home-container {
    
    width: 100%;
    background-color: var(--header-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0px 0px 0px 50px;
    display: flex;

}


.home-container .nav .nav-logo {
    margin-top: 30px;
    display: flex;
    font-size: 75px;
    color: white;
    margin-left: 50px;
}
.home-container .nav .nav-logo .logo-letter {
    margin-top: -10px;
    font-size: 75px;
}


.home-container .nav .nav-link .header-button{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
    border: 2px solid var(--primary-color);
    padding: 15px;
    border-radius: 10px;
}
.home-container .nav .nav-link {
    height: 100px;
    color: white;
    margin-left: 1100px;
    margin-top: -60px;
}



.home-container .nav .nav-link .header-button:hover {
    background-color: white;
    border-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 2px 1px var(--primary-color);

}

.home-container .nav .nav-link .header-button:active {
    background-color: var(--button-color);

}

#active-button {
    background-color: var(--button-color);
    color: white;
    box-shadow: 1px 2px 1px var(--primary-color);
}

#active-button:hover {
    color: var(--primary-color);

}

.main-container {
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    text-align: left;
}

.main-container .main-text {
    color: white;
}

.context-description {
    margin-top: 10px;
    font-size: 25px;
}

.main-container .main-text .primary-button {
    font-size: 20px;
    margin: 70px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    transition: .4s;
}

.main-container .main-text .primary-button:hover {
    cursor: pointer;
    background-color: white;
    border-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 2px 1px var(--primary-color);
    padding: 20px;

}

.footer {
    height: 130px;
    background-color: var(--header-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.footer .social-link {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.footer .social-link fab {
    margin-left: 5px;
    color: white;  
}