:root {
    --header-color: #0E2A47;
    --primary-color: #1735B3;
    --secondary-color: #132E65;
    --button-color: turquoise;
    --button-secondary-color: white;
    --success-color:#84cc16;
    --success-text-color:#65a30d;
    --warning-color: #F8B807;
    --danger-color: #ef4444;
    --danger-text-color:#dc2626;
    --info-color:#06b6d4;
    --info-text-color:#0891b2;
    --alert-primary-color:#29438b;
    --alert-secondary-color:#696b79;
    --form-color: #cbf3fa;
    --border-color: #000000;   
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("/assets/images/background-image.svg");
    font-family: sans-serif;
}

main{
    min-height: 100vh;
    
}
.home-container {
    height: 20vh;
    width: 100%;
    background-color: var(--header-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0rem 0rem 0rem 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav{
    width: 100%;
}
.home-container .nav .nav-logo {
    margin-top: 30px;
    display: flex;
    font-size: 75px;
    color: var(--button-secondary-color);
    margin-left: 50px;
}
.home-container .nav .nav-logo .logo-letter {
    margin-top: -10px;
    font-size: 75px;
}

.home-container .nav .nav-link .header-button{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--button-secondary-color);
    border: 2px solid var(--primary-color);
    padding: 15px;
    border-radius: 10px;
}
.home-container .nav .nav-link {
    height: 6rem;
    color: var(--button-secondary-color);
    display: inline;
    float: right; 
    margin-top: -3.5rem;
}

.home-container .nav .nav-link .header-button:hover {
    background-color: var(--button-secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 2px 1px var(--primary-color);
}

.main-container {
    display: flex;
    margin-top: 5rem;
    margin-left: 3.25rem;
    text-align: left;
}

.main-container .main-text {
    color: var(--button-secondary-color);
}

.context-description {
    margin-top: 10px;
    font-size: 1.5rem;
}

.main-container .main-text .primary-button {
    font-size: 20px;
    margin: 5rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    transition: .4s;
}

.main-container .main-text .primary-button:hover {
    cursor: pointer;
    background-color: var(--button-secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 2px 1px var(--primary-color);
    padding: 20px;
}

.footer {
    height: 20vh;
    width: 100%;
    background-color: var(--header-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0rem 3rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: var(--button-secondary-color);
}

.social-links-container{
    display: flex;
    flex-wrap: wrap;
}

.footer-social-description{
    font-size: 1.5rem;
}

.footer .social-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--button-secondary-color);
    margin-left: 10px;
}

.footer .social-link fab {
    margin-left: 5px;
    color: var(--button-secondary-color);
}
