<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neos-UI | Navbar</title>
    <link rel="stylesheet" href="navbar.css">
    <script src="https://kit.fontawesome.com/0b2d218a52.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-------------------------------------------header starts------------------------------------->
    <div class="home-container">
        <nav class="nav">
            <div class="nav-logo">
                <i class="fab fa-neos"></i>
                <h3 class="logo-letter">E<i class="fab fa-uikit"></i>S-UI</h3>
            </div>

            <div class="nav-link">
                <a class="header-button" href="/" id="active-button">Home</a>
                <a class="header-button" href="/">Documentation</a>
                <a class="header-button" href="https://github.com/Shubhamkr2610/NeoWaves" target="_blank">View
                    Source</a>
            </div>

        </nav>

    </div>
    <!------------------------------------------header ends------------------------------------------>

    <!-----------------------------sidebar left starts---------------------->
    <div class="aside-main-container">

        <aside class="aside-left">

            <div class="aside-container ">
                <h3 class="aside">Getting Started</h3>

                <ul class="aside-left-list">
                    <li class="aside-link">
                        <a class="sidebar-link" href="#">Installation</a>
                    </li>
                </ul>
            </div>


            <div class="sidebar">
                <h3 class="aside">Components</h3>

                <ul class="aside-left-list">
                    <li class="aside-link"><a href="/components/alert/alert.html" class="sidebar-link">Alert</a></li>

                    <li class="aside-link"> <a href="/components/avatar/avatar.html" class="sidebar-link">Avater</a>
                    </li>

                    <li class="aside-link"> <a href="/components/badge/badge.html" class="sidebar-link">Badge</a></li>

                    <li class="aside-link"> <a href="/components/button/button.html" class="sidebar-link">Button</a>
                    </li>

                    <li class="aside-link"> <a href="/components/card/card.html" class="sidebar-link">Card</a></li>

                    <li class="aside-link"> <a href="/components/image/image.html" class="sidebar-link">Image</a></li>

                    <li class="aside-link"> <a href="/components/input/input.html" class="sidebar-link">Forms</a></li>

                    <li class="aside-link"> <a href="/components/input/input.html" class="sidebar-link">Navbar</a></li>

                    <li class="aside-link"> <a href="/components/input/input.html" class="sidebar-link">Rating</a></li>

                    <li class="aside-link"> <a href="/components/input/input.html" class="sidebar-link">Text utility</a>
                    </li>
                </ul>
            </div>
        </aside>
        <hr>
        <!----------------------------------sidebar left ends------------------->

        <!---------------------------------main context start------------------->

        <main class="component-container">
            <h2 class="component-heading">Navbar</h2>
            <p class="component-description"> Navigation bar is used to navigate through the web apps or websites. It is a hamburger menu in medium and small devices.</p>
            <div class="nav-container">
                <nav class="nav-heading">
                    <a href="/" class="brand">
                        <h1 class="brand-name">Neos-UI</h1>
                    </a>
                    <div class="nav-search">
                        <input type="text" class="search-input-box" placeholder=" Type to search">
                        <div class="search-button">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                <div class="shubham">

                   
                    <div class="nav-links"> 
                        <a href="#"><i class="fa fa-home"></i>Home</a>
                        <a href="#">Products</a>  
                    </div>

                    <div class="nav-icons">
                        <a href="">
                            <i class="fa fa-user"></i>
                            <span class="nav-icon-text">Login</span>
                        </a>
                        <a href="">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <span class="nav-icon-text">Wishlist</span>
                        </a>
                        <a href="">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="nav-icon-text">Cart</span>
                        </a>
                    </div>

                </div>
                </nav>
            </div>
            
        </main>


        <!---------------------------------main context end------------------->

    </div>

    <!---------------------------------------------------------footer starts----------------------------->
    <footer class="footer">

        <h3>Made with ❤️ by shubham</h3>
        <h4>connect with me 👇 </h4>

        <a href="https://github.com/Shubhamkr2610" target="_blank" class="social-link">github<i
                class="fab fa-github-square"></i></a>
        <a href="https://twitter.com/shubhamkr_26" target="_blank" class="social-link">twitter<i
                class="fab fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/i_subhu/" target="_blank" class="social-link">instagram<i
                class="fab fa-instagram"></i></a>

    </footer>
    <!-----------------------------------------------------------footer ends------------------------------->
</body>

</html>