:root {
    --header-color: #0E2A47;
    --primary-color: #1735B3;
    --secondary-color: #132E65;
    --button-color: turquoise;
    --button-secondary-color: white;
    --success-color:#84cc16;
    --success-text-color:#65a30d;
    --warning-color: #F8B807;
    --danger-color: #ef4444;
    --danger-text-color:#dc2626;
    --info-color:#06b6d4;
    --info-text-color:#0891b2;
    --alert-primary-color:#29438b;
    --alert-secondary-color:#696b79;
    --form-color: #cbf3fa;
    --border-color: #000000;
    
}