.aside-left{
    width: 25rem;
    height: 100vh;
    text-align: center;
}

.aside{
    font-size: 1.875rem;
  
}
.aside-link{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.sidebar-link{
    font-size: 1.625rem;
    font-weight: bold;
    color: var(--secondary-color);
    overflow: visible; 
}
.sidebar-link:hover{
    text-decoration: underline;
    padding: 2px;
    
}

