@import url(/index.css);
@import url(/components/sidebar.css);

body{
    background-image: none;
}
.badge-content{
    margin-left: 5rem;
}
.badge-title{
    margin-bottom: 5px;
   font-size: 2.25rem;
}
.badge-subtitle{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.badge-icon-container{
    width: 90%;
    border: 1px solid var( --alert-secondary-color);
    margin: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    font-size: 2.2rem;
    position: relative;
}
.badge-icon{
    position: relative;
    padding: 1rem 1rem ;
}
.icon img{
    height: 5rem;
    width: 5rem;
}
.symbol{
    border: 1px solid var( --border-color);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    color: var(--form-color);
    background-color:var( --badge-color); 
}
.text-badge{
    border: 1px;
    height: 10px;
    width: 10px;
}


