@import url("/index.css");
@import url("sidebar.css");

*{
    margin:0;
    padding: 0;
}
body{
    background-image: none;
}

.alert-sidebar-main-container{
    margin: 50px 0px 0px 0px;
    display: flex;
}

.alert-content{
    margin-left: 5%;
}
.alert{
    text-align: center;
    padding: 0px 20px 0px 20px;
    /* background-color: turquoise; */
    height: 3.5rem;
    width: 30rem;
    margin-top: 1rem;
    /* padding: 5px 5px 0; */
}

.alert-success{
    border: 3px solid var(--success-color);
    color: var(--success-text-color);
}
.alert-warning{
    border: 3px solid var(--warning-color);
    color: var(--warning-color);
}
.alert-danger{
    border: 3px solid var(--danger-color);
    color: var(--danger-text-color);
}
.alert-info{
    border: 3px solid var(--info-color);
    color: var( --info-text-color);
}
.alert-primary{
    border: 3px solid var(--alert-primary-color);
    color: var(--alert-primary-color);
}
.alert-secondary{
    border: 3px solid var(--alert-secondary-color);
    color: var(--alert-secondary-color);
}

